{% extends 'layout.html' %}

{% block title %}Policy转换成功{% endblock %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <style type="text/css">

            .wrapper {
                width: 600px;
                height: 200px;

                background-color: white;

                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                box-shadow: 0 0 10px rgb(197, 184, 184);
                margin: 0 auto;
                text-align: center;
                font-size: 20px;

            }


        </style>
    </head>

    <body>
    <div class="wrapper">
        <form action="download" method="GET">
            <table>
                <tr>
                    <td>
                        <text>{{ tfilename }}</text>
                    </td>

                </tr>

                <tr>
                    <td>
                        <text>Policy文件转换成功!</text>
                    </td>

                </tr>

                <tr>
                    <td>
                        <a href="{{ url_for('download',ttfilename=tfileName) }}">点我(*^▽^*)下载</a>
                    </td>

                </tr>
                <tr>
                    <td>
                        <a href="{{ url_for('index') }}">返回主界面</a>
                    </td>

                </tr>
            </table>
        </form>
    </div>
    </body>


{% endblock %}

