<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
</head>
<body>
<div>
    <form action="" method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    选择你需要转换的 Policy Excel 文件
                </td>
            </tr>
{#            <tr>#}
{#                <label><input name="code" type="radio" value="GBK" />GBK </label>#}
{#                <label><input name="code" type="radio" value="UTF-8" checked="true"/>UTF-8 </label>#}
{#            </tr>#}
            <tr>
                <td>
                    <input type="file" name="file">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">上 传</button>
                </td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>
